<section class="hero-wrap js-fullheight" id="home-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
      <div class="col-lg-8 col-md-6  d-flex align-items-center">
        <div class="text text-center">
          <span class="subheading">Invalid route</span>
          <h1>Sorry, the route you've searched doesn't match anything I have.</h1>
          </div>
        </div>
      </div>
    </div>
</section>